<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BIPF - Post Leaderboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

    <div class="px-4 sm:px-6 lg:px-8 max-w-3xl mx-auto my-10">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">BIPF Leaderboard</h1>
          <p class="mt-2 text-sm text-gray-700">A list of all the current BIPF fellows that are participating in the weekly challenge.</p>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
          <% if session[:twitter] %>
          <span class="text-sm text-gray-900">Logged in: @<%= session[:twitter] %></span>
          <% elsif params[:login].present? %>
          <a href='/auth/twitter' class="rounded-md bg-indigo-600 py-2 px-3 mr-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Twitter</a>
          <!--<a href='/auth/linkedin' class="rounded-md bg-indigo-600 py-2 px-3 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">LinkedIn</a>-->
          <% end %>
        </div>
      </div>
      <div class="mt-8 flow-root">

        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <svg viewBox="0 0 20 20" aria-hidden="true" class="h-5 w-5 fill-blue-600 float-left"><path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0 0 20 3.92a8.19 8.19 0 0 1-2.357.646 4.118 4.118 0 0 0 1.804-2.27 8.224 8.224 0 0 1-2.605.996 4.107 4.107 0 0 0-6.993 3.743 11.65 11.65 0 0 1-8.457-4.287 4.106 4.106 0 0 0 1.27 5.477A4.073 4.073 0 0 1 .8 7.713v.052a4.105 4.105 0 0 0 3.292 4.022 4.095 4.095 0 0 1-1.853.07 4.108 4.108 0 0 0 3.834 2.85A8.233 8.233 0 0 1 0 16.407a11.615 11.615 0 0 0 6.29 1.84"></path></svg>
            <a readonly title="Coming Soon"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2 fill-gray-300 <% 'hover:fill-blue-400' %> float-left" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg></a>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <select name="week" class="block max-w-l m-auto py-2 px-3 rounded-md border border-gray-300 focus:border-indigo-500 focus:ring-indigo-500" onchange="window.location = '?week=' + this.value">
              <% weeks.each do |num, dates| %>
              <option value="<%= num %>"<%= ' selected' if num == selected_week %><%= ' disabled' if Date.today < dates[:start] %>>Week <%= num %><% if Date.today.between?(dates[:start], dates[:end]) %> (current)<% end %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 text-center">Tweets This Week</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 text-center">Streak</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <% @users.each do |u| %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-0">
                    <div class="flex items-center">
                      <div class="h-10 w-10 flex-shrink-0">
                        <img class="h-10 w-10 rounded-full" src="<%= u.avatar_url %>" alt="">
                      </div>
                      <div class="ml-4">
                        <div class="font-medium text-gray-900">
                          <%= u.name %>
                        </div>
                        <div class="text-gray-500">
                          
                          <a href="https://twitter.com/<%= u.twitter_username %>">
                            <svg viewBox="0 0 20 20" aria-hidden="true" class="h-5 w-5 fill-slate-400"><path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0 0 20 3.92a8.19 8.19 0 0 1-2.357.646 4.118 4.118 0 0 0 1.804-2.27 8.224 8.224 0 0 1-2.605.996 4.107 4.107 0 0 0-6.993 3.743 11.65 11.65 0 0 1-8.457-4.287 4.106 4.106 0 0 0 1.27 5.477A4.073 4.073 0 0 1 .8 7.713v.052a4.105 4.105 0 0 0 3.292 4.022 4.095 4.095 0 0 1-1.853.07 4.108 4.108 0 0 0 3.834 2.85A8.233 8.233 0 0 1 0 16.407a11.615 11.615 0 0 0 6.29 1.84"></path></svg>
                          </a>

                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 text-center">
                    <div class="text-gray-900">
                      <a href="https://twitter.com/<%= u.twitter_username %>"><%= u.posts.where(posted_at: [weeks[selected_week][:start]..weeks[selected_week][:end]]).count %></a>
                      <!-- <%= u.posts.where(posted_at: [weeks[selected_week][:start]..weeks[selected_week][:end]]).to_sql %> -->
                      <% if session[:twitter] && session[:twitter_forced] != true %>
                      <a href="/sync/twitter?force=true">(force sync)</a>
                      <% end %>
                    </div>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 text-center">
                    <% weeks[selected_week][:start].upto(weeks[selected_week][:end]) do |date| %>
                      <% posts_on_date = u.posts.where("DATE(posted_at) = ?", date).count %>
                      <span class="inline-flex items-center rounded-full cursor-pointer px-2.5 py-0.5 text-xs font-medium <%= posts_on_date > 0 ? 'bg-green-600 text-white' : 'bg-gray-100 text-gray-800' %>" title="<%= posts_on_date %> Posts on <%= date %>"><%= (date.wday == 4) ? 'TH' : date.strftime("%A")[0] %></span>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
